@import url("https://fonts.googleapis.com/css?family=Poppins : 200, 300, 400, 500, 600, 700, 800, 900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --black: #333;
  --black2: #333;
  --white: #ffffff;
  --white2: #ffffff;
  --yellow: #FFC82C;
  --darkyellow: #FFBA5C;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(white);
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  position: relative;
  max-width: 80px;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
}

header ul li {
  list-style: none;
}

header ul li a {
  display: inline-block;
  color: var(--black);
  font-size: 1.25em;
  font-weight: 500;
  margin-right: 70px;
  text-decoration: none;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .textBox {
  position: relative;
  max-width: 800px;
  z-index: 2;
  margin-right: 20px;
  color: black;
}

.content .textBox h2 {
  color: var(--black);
  font-size: 5em;
  line-height: 1.2em;
  font-weight: 700;
  margin-bottom: 10px;
}

.content .textBox h2 span {
  color: var(--darkyellow);
  font-size: 1.4em;
}

.content .textBox p {
  color: var(--black);
}

.content .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 20px 80px;
  background: var(--darkyellow);
  color: var(--white2);
  border-radius: 50px;
  font-weight: 700;
  font-size: 3em;
  letter-spacing: 0px;
  text-decoration: none;
}

.content .imgBox {
  position: relative;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .imgBox img {
  position: relative;
  z-index: 2;
  width: 434px;
  max-width: 434px;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;

}

.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 50px;
  cursor: pointer;
  transition: 0.5s;
}

.thumb li:hover {
  transform: translateY(-15px);
}
.thumb li img {
  border-radius: 50%;
  box-shadow: 0px 0px 0px 10px #d5d4d1;
  width: 60px;
  height: 60px;
}

.sci {
  position: absolute;
  top: 35%;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  margin: 5px 0;
  width: 50px;
  height: 50px;
  background: var(--black2);
  color: var(--white2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.sci li a .fa {
  font-size: 1.2em;
}

.sci li a:hover {
  background: var(--yellow);
}

.square {
  position: absolute;
  left: 75%;
  width: 25%;
  height: 100%;
  background-color: var(--darkyellow);
}
.circle {
  width: 550px;
  height: 550px;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  background-color: #e5e3df;
}
.circle2 {
  position: absolute;
  width: 600px;
  height: 600px;
  background-color: #FFC82C;
  transform: translateY(-50%);
  border-radius: 40%;
  z-index: 1;
  right: 0px;
  top:300px;
}


@keyframes fill {
  from {
    top: 800px;
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    top: 300px;
    transform: translateY(-50%) rotate(-360deg);
  }
}
