@import url("https://fonts.googleapis.com/css?family=Poppins : 200, 300, 400, 500, 600, 700, 800, 900&display=swap");
*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root
{
    --black: #333;
    --black2: #333;
    --white: #fff;
    --white2: #fff;
    --yellow: #FFBA5C;
}
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(white);
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo
{
    position: relative;
    max-width: 80px;
}

header  ul
{
    position: relative;
    display: flex;
}


header ul li
{
    list-style: none; 

}

header ul li a
{
    display: inline-block;
    color: var(--black);
    font-weight: 600;
    margin-right: 70px;
    text-decoration: none;
}

.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox
{
    position: relative;
    max-width: 600px;
    z-index: 2;
    margin-right: 20px;
    color: black;
}

.content .textBox h2
{
    color: var(--black);
    font-size : 3em;
    line-height: 1.2em;
    font-weight: 700;
    margin-bottom: 10px;
}

.content .textBox h2 span
{
    color: var(--yellow);
    font-size: 1.4em;
}

.content .textBox p
{
    color: var(--black);
}

.content .textBox a
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: var(--yellow);
    color: var(--white2);
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .imgBox
{   
    position: relative;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .circle
{
    position: absolute;
    width: 550px;
    height: 550px;
    background: #FFBA5C;
    border-radius: 100%;

}

.content .imgBox img
{   
    position: relative;
    z-index: 1;
    width: 434px;
    max-width: 434px;
}

.thumb
{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover
{
    transform: translateY(-15px);
}
.thumb li img
{
    max-width: 60px;
}

.sci
{
    position: absolute;
    top: 35%;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li
{
    list-style: none;
}

.sci li a
{
    display: inline-block;
    margin: 5px 0;
    width: 50px;
    height: 50px;
    background:var(--black2);
    color: var(--white2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.sci li a .fa
{
    font-size: 1.2emx;
}

.sci li a:hover
{
    background: var(--yellow);
}